.list {
  background-color: var(--main);
  padding: 0 15px;
  margin: 0 6px;
  max-height: calc(75vh + 20px);
}

ngx-simplebar {
  max-height: inherit;
}

.header {
  margin-top: 8px;
  margin-right: 6px;
  margin-left: 6px;
  background-color: var(--main);
  color: var(--text);
  border-radius: 12px 12px 0 0;
}

.title-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.footer {
  background-color: var(--main);
  padding: 0 17px;
  margin: 0 6px;
  border-radius: 0 0 12px 12px;
}

.input-task-element {
  visibility: hidden;
}

.remove-list {
  display: none;
  border: none;
  background: none;
  margin-bottom: auto;
}

.header:hover .remove-list {
  display: block;
}

.open-form-to-add-task {
  border: none;
  background: none;
  color: var(--text);
}

.button-container {
  margin-bottom: 8px;
  padding: 10px 5px;
}
