<div class="list_header">
  <ng-container *ngIf="!isChangingName; else titleInput">
    <div class="list_title" (click)="isChangingName = !isChangingName">{{_list.title}}</div>
  </ng-container>
  <ng-template #titleInput>
    <app-input-form
      (textSubmissionAction)="isChangingName = !isChangingName; _list.title = $event.text.length > 0 ? $event.text : _list.title"
      [textToShow]="_list.title"
      [targetClass]="'list_title'"
    ></app-input-form>
  </ng-template>
  <button (click)="closeListAction.emit()" class="remove_list">X</button>
</div>

<div class="list">
  <ngx-simplebar [options]="options">
      <app-task
        *ngFor="let task of _list.tasks; index as i"
        [task]="task"
        (removeClicked)="_list.tasks.splice(i, 1)"
      ></app-task>
  </ngx-simplebar>
</div>

<div class="list_footer">
<!--  <app-task-creation (valueEvent)="pushToArray($event); isAddingTask = !isAddingTask"></app-task-creation>-->
  <ng-container *ngIf="!isAddingTask; else taskInput">
    <button (click)="isAddingTask = !isAddingTask" class="open_form_to_add_task">+ Add another task</button>
  </ng-container>
  <ng-template #taskInput>
    <app-input-form
      (textSubmissionAction)="pushToArray($event.text); isAddingTask = $event.keep"
      [textToShow]="''"
      [targetClass]="'open_form_to_add_task'"
    ></app-input-form>
  </ng-template>
</div>
