.list {
  background-color: var(--mainColor);
  padding: 0 15px;
  margin: 0 6px;
  max-height: calc(75vh + 20px);
  min-height: 10px;
}

ngx-simplebar {
  max-height: inherit;
}

.list-header {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  margin-right: 6px;
  margin-left: 6px;
  background-color: var(--mainColor);
  color: var(--textColor);
  padding: 5px 17px;
  border-radius: 12px 12px 0 0;
}

.list-footer {
  background-color: var(--mainColor);
  padding: 0 17px;
  margin: 0 6px;
  border-radius: 0 0 12px 12px;
}

.input_task_element {
  visibility: hidden;
}

.remove-list {
  display: none;
  border: none;
  background: none;
  margin-bottom: auto;
}

.list-header:hover .remove-list {
  display: block;
}

.open-form-to-add-task {
  border: none;
  background: none;
  color: var(--textColor);
  margin-bottom: 8px;
  padding: 6px;
  margin-top: 8px;
}

