.list {
  background-color: var(--secondaryColor);
  padding: 0 10px 0 10px;
  margin: 0 6px;
  max-height: calc(75vh + 20px);
  width: 250px;
}

ngx-simplebar {
  max-height: inherit;
}

.list_header {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  margin-right: 6px;
  margin-left: 6px;
  background-color: var(--secondaryColor);
  color: var(--textColor);
  padding: 5px 10px;
  border-radius: 12px 12px 0 0;
  width: 250px;
}

.list_footer {
  background-color: var(--secondaryColor);
  padding: 0 10px 0 10px;
  margin: 0 6px;
  border-radius: 0 0 12px 12px;
  width: 250px;
}

.input_task_element {
  visibility: hidden;
}

.remove_list {
  display: none;
  border: none;
  background: none;
  margin-bottom: auto;
}

.list_header:hover .remove_list {
  display: block;
}

.open_form_to_add_task {
  border: none;
  background-color: var(--secondaryColor);
  color: var(--textColor);
  margin-bottom: 8px;
  padding: 6px;
  margin-top: 8px;
}

