.list {
  background-color: aquamarine;
  padding: 0 10px 0 10px;
  margin: 0 6px;
  max-height: calc(75vh + 20px);
  width: 250px;
}

ngx-simplebar {
  max-height: inherit;
}

.list_label_container {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  margin-right: 6px;
  margin-left: 6px;
  background-color: aquamarine;
  padding: 5px 10px;
  border-radius: 12px 12px 0 0;
  width: 250px;
}

.list_footer {
  background-color: aquamarine;
  padding: 0 10px 0 10px;
  margin: 0 6px;
  border-radius: 0 0 12px 12px;
  width: 250px;
}

.task {
  margin-top: 8px;
  padding: 5px;
  font-size: 16px;
  background-color: whitesmoke;
  color: dodgerblue;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.task_buttons_container {
  display: flex;
  justify-content: space-between;
}

.input_task_element {
  visibility: hidden;
}

.input_task_button {
  background-color: red;
  padding: 10px;
}

.remove_list {
  display: none;
  border: none;
  background: none;
  margin-bottom: auto;
}

.list_label_container:hover .remove_list {
  display: block;
}

.open_form_to_add_task {
  border: none;
  background-color: aquamarine;
  margin-bottom: 8px;
  padding: 6px;
  margin-top: 8px;
}

