<div class="list">
  <div *ngFor="let todo of _list.tasks; index as i" class="task">
    {{todo.title}}
    <button (click)="_list.tasks.splice(i, 1)" class="remove_task">x</button>
  </div>

  <ng-container *ngIf="!isAddingTask; else addingTaskForm">
    <button (click)="isAddingTask = !isAddingTask" class="add_task">+</button>
  </ng-container>

  <ng-template #addingTaskForm>
    <app-task-creation (stateChangeEvent)="isAddingTask = $event" (valueEvent)="pushToArray($event)"></app-task-creation>
  </ng-template>
</div>

