<div>
  <button class="btn" (click)="modal.style.display = 'block'">
    About
  </button>
</div>

<div id="modal" class="modal">
  <div class="modal-content">
    <button class="close" (click)="modal.style.display = 'none'">&times;</button>
    <h3>Description</h3>
    <p>
      <span>This website is a todo type web app made for training purposes by Andrii Bilych.</span>
      It was created as a way to practice my skills and improve my knowledge on Angular/TypeScript/HTML/CSS.
      This website is a demonstration app, no data is preserved upon reloading. There are two boards present,
      filled with fake data. Project is inspired by Trello boards.
    </p>
    <h3>How to use</h3>
    <ul>
      <li>Create lists by clicking "Add another list" button, entering the name and pressing enter</li>
      <li>Create tasks by clicking "Add another task" button, entering the task and pressing enter</li>
      <li>Click out of any text box or press "ESC" to close it</li>
      <li>Modify list title/board title/task by right clicking it and pressing enter to save changes</li>
      <div class="space"></div>
      <li>Reorder tasks by left-clicking and dragging them inside list</li>
      <li>Reorder lists by left-clicking the title and dragging</li>
      <li>Move tasks from list to list by left-clicking and dragging the task</li>
    </ul>
    <div class="space"></div>
    <p>You can also switch boards, create new boards and switch color theme at any moment</p>
  </div>
</div>
