.label {
  display: flex;
  justify-content: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  color: var(--text);
}

.modal-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal-content {
  display: block;
  background-color: var(--modalBackground);
  color: var(--text);
  padding: 40px;
  border: 1px solid #888;
  font-size: 18px;
  width: 60%;
  height: 70%;
  border-radius: 10px;
  position: relative;
}

.instructions-container {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: 20px;
}

.author {
  color: var(--grayed);
  display: block;
}

a {
  margin: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--text);
  background-color: var(--button);
  font-size: 18px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  height: 25px;
  width: 25px;
}

.close:hover, .close:focus {
  background-color: var(--highlighted);
  text-decoration: none;
  cursor: pointer;
}

.space {
  margin: 18px;
}
