.dropdown {
  margin-right: 5px;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: var(--button);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .list-name {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: none;
  /*width: 100%;*/
  text-align: left;
}

.btn {
  background-color: var(--button);
  padding: 10px;
  font-size: 16px;
  border: none;
  display: flex;
  border-radius: 5px;
}

div:hover .btn {
  background-color: var(--highlighted);
}

.square {
  width: 10px;
  height: 10px;
}

.text {
  color: var(--text);
}
