<ng-container *ngIf="selectedBoard !== null; else loadingTemplate">
  <div class="board" [attr.uuid]="selectedBoard.uuid">
    <ngx-simplebar [options]="options">
      <div *ngFor="let list of selectedBoard.lists; index as i"
           class="list-placeholder"
           [id]="list.id"
           [attr.order-index]="list.orderIndex">
        <div class="list-container">
          <app-list (closeListAction)="removeList(i)" [list]="list" [id]="i"></app-list>
        </div>
      </div>
      <div class="add-list-container">
        <ng-container *ngIf="!isAddingList; else titleInput">
            <button (click)="isAddingList = !isAddingList" class="add-list">+ Add another list</button>
        </ng-container>
        <ng-template #titleInput>
          <app-input-form
            (textSubmissionAction)="isAddingList = !isAddingList;
            pushToArray($event.text.length > 0 && $event.text !== '\n' ? $event.text : 'New List');
            isAddingList = $event.keep"
            [targetClass]="'add-list'"
          ></app-input-form>
        </ng-template>
      </div>
    </ngx-simplebar>
  </div>
</ng-container>

<ng-template #loadingTemplate>
  <div class="choose-example-container">
    <div class="example-container">
      <div class="label">Choose an example</div>
      <button
        class="example"
        *ngFor="let b of boards"
        (click)="onClick(b.uuid)"
      >{{b.title}}</button>
    </div>
  </div>
</ng-template>
