.board {
  overflow: auto;
  height: calc(100vh - 60px);
  /*display: flex;*/
}

.list-placeholder {
  min-width: 230px;
}

.list-container {
  min-width: 230px;
}

ngx-simplebar {
  height: inherit;
}

svg {
  height: 10vh;
  width: 10vw;
  margin: 44vh 45vw;
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  to {transform: rotate(360deg);}
}

.add-list {
  border: none;
  background-color: var(--main);
  margin: 8px 6px;
  padding: 6px 12px;
  width: 14vw;
  border-radius: 10px;
  color: var(--text);
}

.choose-example-container {
  display: flex;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
}

.example-container {
  display: block;
}

.label {
  text-align: center;
  font-size: 20px;
}

.example {
  background-color: var(--button);
  color: var(--text);
  padding: 10px;
  margin: 6px;
  border: none;
  border-radius: 4px;
}

.example:hover {
  background-color: var(--highlighted);
}

.task {
  position: fixed;
  min-width: 150px;
  padding: 5px;
  margin-top: 8px;
  word-wrap: break-word;
  word-break: break-word;
  background-color: var(--button);
  color: var(--text);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.task-title{
  padding-left: 10px;
}
