.board {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 55px);
  display: flex;
  justify-content: flex-start;
}

svg {
  height: 10vh;
  width: 10vw;
  margin: 44vh 45vw;
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  to {transform: rotate(360deg);}
}

.add_list {
  border: none;
  background-color: whitesmoke;
  margin: 8px 6px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: bold;
  height: fit-content;
  border-radius: 3px;
}

.list_label {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  margin-right: 6px;
  margin-left: 6px;
  background-color: aquamarine;
  padding: 5px 10px;
  border-radius: 12px 12px 0 0;
}

.remove_list {
  border: none;
  background: none;
  margin-bottom: auto;
}
