.board {
  overflow: auto;
  height: calc(100vh - 60px);

}

.list-container {
  min-width: 230px;
}

ngx-simplebar {
  height: inherit;
}

svg {
  height: 10vh;
  width: 10vw;
  margin: 44vh 45vw;
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  to {transform: rotate(360deg);}
}

.add-list {
  border: none;
  background-color: var(--mainColor);
  margin: 8px 6px;
  padding: 6px 12px;
  width: 14vw;
  border-radius: 10px;
}
