<ng-container *ngIf="board != null; else loadingTemplate">
  <div class="board" [id]="board.id">
    <ngx-simplebar [options]="options">
      <div *ngFor="let list of board.lists; index as i" class="list-container">
        <app-list (closeListAction)="board.lists.splice(i, 1)" [list]="list" [id]="i"></app-list>
      </div>
      <div class="add-list-container">
        <ng-container *ngIf="!isAddingList; else titleInput">
            <button (click)="isAddingList = !isAddingList" class="add-list">+ Add another list</button>
        </ng-container>
        <ng-template #titleInput>
          <app-input-form
            (textSubmissionAction)="isAddingList = !isAddingList;
            pushToArray($event.text.length > 0 ? $event.text : 'New List')"
            [textToShow]="newListTitle"
            [targetClass]="'add-list'"
          ></app-input-form>
        </ng-template>
      </div>
    </ngx-simplebar>
  </div>
</ng-container>

<ng-template #loadingTemplate>
  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="spinner" class="svg-inline--fa fa-spinner fa-w-16" role="img" viewBox="0 0 512 512">
    <path fill="currentColor" d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"></path></svg>
</ng-template>
