.task {
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  word-break: break-word;
  display: flex;
  justify-content: space-between;
}

.remove_task_button {
  display: none;
  border: none;
  background-color: var(--backgroundColor);
  margin-bottom: auto;
  position: fixed;
  margin-left: 215px;
}

.task:hover .remove_task_button {
  display: flex;
}

