<div class="task-container" *ngIf="task" [attr.uuid]="task.uuid" [class.task-container-selected]="task.selected">
  <div class="task" [attr.uuid]="task.uuid" *ngIf="!task?.selected">
    <ng-container *ngIf="!isModifyingTask; else textInput">
      <div class="task-title">{{task.content}}</div>
    </ng-container>
    <ng-template #textInput>
      <app-input-form
        (textSubmissionAction)="isModifyingTask = !isModifyingTask; task.content = $event.text.length > 0 ? $event.text : task.content"
        [textToShow]="task.content"
        [targetClass]="'task-title'"
      ></app-input-form>
    </ng-template>

    <button (click)="removeAction.emit()" class="remove-task-button">&times;</button>
  </div>
</div>
