.task-container {
  border-radius: 5px;
  margin-top: 8px;
}

.task-container-selected {
  height: 30px;
  background-color: var(--highlightedColor);
}

.task {
  height: auto;
  padding: 5px;
  margin-top: 8px;
  word-wrap: break-word;
  word-break: break-word;
  background-color: var(--buttonColor);
  color: var(--textColor);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.task-title{
  padding-left: 10px;
}

.remove-task-button {
  visibility: hidden;
  border: none;
  background-color: var(--buttonColor);
  margin-bottom: auto;
}

.task:hover .remove-task-button {
  visibility: visible;
}

