.task {
  /*width: 240px;*/
  height: auto;
  padding: 5px;
  margin-top: 8px;
  word-wrap: break-word;
  word-break: break-word;
  background-color: var(--buttonColor);
  color: var(--textColor);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.task_title{
  padding-left: 10px;
}

.remove_task_button {
  visibility: hidden;
  border: none;
  background-color: var(--buttonColor);
  margin-bottom: auto;
  /*margin-left: 215px;*/
}

.task:hover .remove_task_button {
  visibility: visible;
}

