svg {
  height: 10vh;
  width: 10vw;
  margin: 44vh 45vw;
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  to {transform: rotate(360deg);}
}
