.panel {
  overflow: hidden;
  background-color: var(--mainColor);
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.dropbtn {
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.left-container {
  display: flex;
}

.left-button {
  background-color: var(--buttonColor);
  border: none;
  padding: 10px;
  margin-right: 5px;
  font-size: 16px;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: var(--buttonColor);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  padding: 10px;
  display: block;
  border: none;
  width: 100%;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn, .list-name:hover , .left-button:hover{
  background-color: var(--highlightedColor);
}

.list-name {
  background-color: var(--buttonColor);
  color: var(--textColor);
}

.selected {
  background-color: var(--highlightedColor);
  color: var(--textColor);
}

svg {
  width: 2vw;
  height: 2vh;
  margin-top: 4px;
  margin-left: 2px;
  color: var(--textColor);
}

.board-name-container {
  display: flex;
  background-color: var(--buttonColor);
  border: none;
  margin-right: 5px;
  font-size: 16px;
  border-radius: 5px;
}

.remove_board_button {
  visibility: hidden;
  border: none;
  background: none;
  margin-left: 5px
}

.board-name-container:hover .remove_board_button {
  visibility: visible;
}

.board-title {
  color: var(--textColor);
}

.btn {
  background-color: var(--buttonColor);
  padding: 10px;
  font-size: 16px;
  border: none;
  display: flex;
  border-radius: 5px;
  color: var(--textColor);
}

div:hover .btn {
  background-color: var(--highlightedColor);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color: var(--textColor);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 18px;
  border: none;
  font-weight: bold;
}

.choice {
  color: #aaa;
  /*float: right;*/
  font-size: 18px;
  border: none;
  font-weight: bold;
}

.close:hover, .close:focus, .choice:hover, .choice:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

