.dropdown-content {
  display: none;
  position: fixed;
  background-color: var(--button);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  padding: 10px;
  display: block;
  border: none;
  width: 100%;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropBtn, .list-name:hover , .left-button:hover{
  background-color: var(--highlighted);
}

.list-name {
  background-color: var(--button);
  color: var(--text);
}

.selected {
  background-color: var(--highlighted);
  color: var(--text);
}

.board-name-container {
  display: flex;
  background-color: var(--button);
  border: none;
  margin-right: 5px;
  font-size: 16px;
  border-radius: 5px;
}

.remove-board {
  border: none;
  background: none;
  margin-left: 5px
}

.board-name-container:hover .remove-board {
  visibility: visible;
}

.board-title {
  color: var(--text);
}

.btn {
  background-color: var(--button);
  padding: 10px;
  font-size: 16px;
  border: none;
  display: flex;
  border-radius: 5px;
  color: var(--text);
}

div:hover .btn {
  background-color: var(--highlighted);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  color: var(--text);
}

.modal-content {
  background-color: var(--modalBackground);
  color: var(--text);
  margin: 15% auto;
  padding: 20px;
  max-width: 600px;
  width: 60%;
  border-radius: 10px;
  position: relative;
}

.label {
  display: flex;
  justify-content: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--text);
  background-color: var(--main);
  font-size: 18px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  width: 25px;
  height: 25px;
}

.choice-container {
  display: flex;
  justify-content: center;
}

.choice {
  color: var(--text);
  background-color: var(--main);
  font-size: 18px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.close:hover, .close:focus, .choice:hover, .choice:focus {
  background-color: var(--highlighted);
  cursor: pointer;
}

