.panel {
  overflow: hidden;
  background-color: var(--mainColor);
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.dropbtn {
  background-color: var(--backgroundColor);
  padding: 10px;
  font-size: 16px;
  border: none;
  display: flex;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: var(--backgroundColor);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  padding: 10px;
  display: block;
  border: none;
  width: 100%;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--darkColor);
}

svg {
  width: 2vw;
  height: 2vh;
  margin-top: 4px;
  margin-left: 2px;
}
