<div class="panel">
  <div class="left-container">
    <div class="dropdown">
      <button class="dropBtn left-button">
        <label class="board-title">{{selectedBoard ? selectedBoard.title : 'Boards'}}</label>
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" viewBox="0 0 448 512">
          <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
        </svg>
      </button>
      <div class="dropdown-content">
        <button
          class="list-name"
          *ngFor="let b of boards; index as i"
          [class.selected]="selectedBoard?.uuid === b.uuid"
          (click)="onClick(b.uuid)"
        >{{b.title}}</button>
        <button class="list-name" (click)="createBoard()">+ New Board</button>
      </div>
    </div>

    <div class="tools" *ngIf="selectedBoard !== null">
      <div class="left-button">
        <div (click)="isChangingName = true" *ngIf="!isChangingName; else titleInput">
          <span>Edit title</span>
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pen" class="svg-inline--fa fa-pen fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z"></path></svg>
        </div>
        <ng-template #titleInput>
          <app-input-form
            (textSubmissionAction)="isChangingName = false; selectedBoard.title = $event.text.length > 0 ? $event.text : selectedBoard.title"
            [textToShow]="selectedBoard.title"
            [targetClass]="'left-button'"
          ></app-input-form>
        </ng-template>
      </div>
      <button class="left-button" (click)="confirmationRef.style.display = 'block'">
        <span>Delete board</span>
        &times;
      </button>
    </div>
  </div>

  <div class="left-container">
    <app-color-picker></app-color-picker>
    <app-guide></app-guide>
  </div>

  <div #confirmationRef class="modal">
    <div class="modal-content">
      <button class="close" (click)="confirmationRef.style.display = 'none'">&times;</button>
      <div class="header">
        <h3>Are you sure you want to delete "{{selectedBoard?.title}}" board?</h3>
      </div>
      <div class="choice-container">
        <button class="choice" (click)="removeBoard(selectedBoard.uuid); confirmationRef.style.display = 'none'">Yes</button>
        <button class="choice" (click)="confirmationRef.style.display = 'none'">No</button>
      </div>
    </div>
  </div>
</div>


