.panel {
  overflow: hidden;
  background-color: var(--mainColor);
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.dropbtn {
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.left-container {
  display: flex;
}

.left-button {
  background-color: var(--buttonColor);
  border: none;
  padding: 10px;
  margin-right: 5px;
  font-size: 16px;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: var(--buttonColor);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  padding: 10px;
  display: block;
  border: none;
  width: 100%;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn, .list-name:hover , .left-button:hover{
  background-color: var(--highlightedColor);
}

.list-name {
  background-color: var(--buttonColor);
}

.selected {
  background-color: var(--highlightedColor);
}

svg {
  width: 2vw;
  height: 2vh;
  margin-top: 4px;
  margin-left: 2px;
}
