@import '~simplebar/dist/simplebar.css';
:root {
  --main: rgba(223, 231, 234, 0.5);
  --button: #DDE9FF;
  --background: #2a8cd4;
  --highlighted: rgb(159, 194, 219);
  --text: #272727;
  --modalBackground: #fff;
  --grayed: rgba(68, 70, 71, 0.74);
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

.board > ngx-simplebar > .simplebar-wrapper > .simplebar-mask > .simplebar-offset > .simplebar-content-wrapper > .simplebar-content{
  display: flex;
}

.simplebar-track.simplebar-vertical {
  top: 8px !important;
  width: 10px !important;
  left: 12.4vw;
}

.draggable {
  width: 250px;
  height: 40px;
  background-color: red;
  position: fixed;
  top: 100px;
  left: 100px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
