@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

//Tailwind custom classes
@layer utilities {
  .ellipsis-base {
    display: -webkit-box;
    -webkit-box-orient: vertical;

    @apply overflow-ellipsis overflow-hidden break-all
  }

  .ellipsis-box-1 {
    -webkit-line-clamp: 1;
    @apply ellipsis-base
  }

  .ellipsis-box-2 {
    -webkit-line-clamp: 2;
    @apply ellipsis-base
  }

  .ellipsis-box-3 {
    -webkit-line-clamp: 3;
    @apply ellipsis-base
  }

  .ellipsis-box-4 {
    -webkit-line-clamp: 4;
    @apply ellipsis-base
  }

  .ellipsis-box-5 {
    -webkit-line-clamp: 5;
    @apply ellipsis-base
  }
}

@import '~simplebar/dist/simplebar.css';
:root {
  --main: rgba(223, 231, 234, 0.5);
  --button: #DDE9FF;
  --background: white;
  --highlighted: rgb(159, 194, 219);
  --text: #272727;
  --modalBackground: #fff;
  --grayed: rgba(68, 70, 71, 0.74);
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
  background-color: var(--background);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.board > ngx-simplebar > .simplebar-wrapper > .simplebar-mask > .simplebar-offset > .simplebar-content-wrapper > .simplebar-content{
  display: flex;
}

.simplebar-track.simplebar-vertical {
  top: 8px !important;
  width: 10px !important;
  left: 205px;
}
