@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

//Tailwind custom classes
@layer utilities {
  .ellipsis-base {
    display: -webkit-box;
    -webkit-box-orient: vertical;

      @apply overflow-ellipsis overflow-hidden break-words
  }

  .ellipsis-box-1 {
    -webkit-line-clamp: 1;
    @apply ellipsis-base
  }

  .ellipsis-box-2 {
    -webkit-line-clamp: 2;
    @apply ellipsis-base
  }

  .ellipsis-box-3 {
    -webkit-line-clamp: 3;
    @apply ellipsis-base
  }

  .ellipsis-box-4 {
    -webkit-line-clamp: 4;
    @apply ellipsis-base
  }

  .ellipsis-box-5 {
    -webkit-line-clamp: 5;
    @apply ellipsis-base
  }
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
  background-color: var(--background);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.board > ngx-simplebar > .simplebar-wrapper > .simplebar-mask > .simplebar-offset > .simplebar-content-wrapper > .simplebar-content{
  display: flex;
}

.simplebar-track.simplebar-vertical {
  top: 8px !important;
  width: 10px !important;
  left: 205px;
}
