@import '~simplebar/dist/simplebar.css';

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.board > ngx-simplebar > .simplebar-wrapper > .simplebar-mask > .simplebar-offset > .simplebar-content-wrapper > .simplebar-content{
  display: flex;
}
