.verticalContainer {
  display: inline-block;
  text-align: center;
  background-color: aquamarine;
  padding: 0 10px 0 10px;
  margin: 14px 6px;
  overflow: auto;
  height: 95%;
}

p {
  text-align: center;
}

.text {
  color: dodgerblue;
}
