<div class="vertical_container">
  <div *ngFor="let todo of _todos; index as i" class="task">{{todo.title}}<button (click)="_todos.splice(i, 1)" class="remove_task">x</button></div>

  <ng-container *ngIf="!isAddingTask; else addingTaskForm">
    <button (click)="isAddingTask = !isAddingTask" class="add_task">+</button>
  </ng-container>

  <ng-template #addingTaskForm>
    <input type="text" [(ngModel)]="textToAdd">
    <button (click)="isAddingTask = !isAddingTask; pushToArray(false)" class="add_task">+</button>
  </ng-template>
</div>
