.vertical_container {
  background-color: aquamarine;
  padding: 0 10px 0 10px;
  margin: 14px 6px;
  overflow: auto;
  height: 95%;
  width: 250px;
}

.task {
  margin: 8px 0;
  text-align: left;
  word-wrap: break-word;
  background-color: whitesmoke;
  color: dodgerblue;
  display: flex;
  justify-content: space-between;
}

.remove_task {
  border: none;
  background: none;
  margin-bottom: auto;
}

.add_task {
  border: none;
  background-color: whitesmoke;
  margin-bottom: 8px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: bold;
}


